Source: llvc
Priority: extra
Maintainer: Thomas Moulard <thomas.moulard@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake (>= 2.6),
	       pkg-config (>= 0.22),
	       libboost-dev (>= 1.40),
	       libboost-program-options-dev (>= 1.40),
	       libboost-system-dev (>= 1.40),
	       libboost-filesystem-dev (>= 1.40),
	       libvisp-dev (>= 2.4.5),
	       omniidl4 (>= 4.1.2),
	       libomniorb4-dev (>= 4.1.2),
	       libllvt-dev (>= 1.0.0.99),
	       libllvs-dev (>= 1.0.0.99)
Standards-Version: 3.8.4
#Vcs-Git:
#Vcs-browser:
Section: libs
#Homepage:

Package: libllvc-dev
Section: libdevel
Architecture: any
Depends: libboost-dev (>= 1.40), libboost-program-options-dev (>= 1.40), libboost-system-dev (>= 1.40), libboost-filesystem-dev (>= 1.40), libvisp-dev (>= 2.4.5), libomniorb4-dev (>= 4.1.2), libllvt-dev (>= 1.0.0.99), libllvs-dev (>= 1.0.0.99), libllvc1.0.0.99 (= ${binary:Version}), ${misc:Depends}
Description: the low-level vision client development package
 llvc stands for low-level vision client. It provides a set of tools
 which can start and retrieve results of different algorithm on the
 vision server.
 .
 This package contains development files (headers and pkg-config file).


Package: llvc1.0.0.99
Architecture: any
Depends: libllvc1.0.0.99 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: the low-level vision client libraries
 llvc stands for low-level vision client. It provides a set of tools
 which can start and retrieve results of different algorithm on the
 vision server.
 .
 This package contains the unversioned shared libraries.

Package: libllvc1.0.0.99
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: the low-level vision client
 llvc stands for low-level vision client. It provides a set of tools
 which can start and retrieve results of different algorithm on the
 vision server.
 .
 This package contains the client binary.
